@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  color: #eeeeee;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #64ccc5 #176b87;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #176b87;
}

*::-webkit-scrollbar-thumb {
  background-color: #64ccc5;
  border-radius: 10px;
  border: 3px solid #176b87;
}

body {
  background-color: #053b50;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  height: 100%;
}

main {
  flex: 3 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  padding: 6rem 0 8em 0;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  text-wrap: wrap;
  font-size: 4rem;
  font-weight: 600;
}

.localTime {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}

.currentCondition {
  display: flex;
  align-items: center;
}

.currentCondition > img {
  height: 6em;
}

.currentTemp {
  font-size: 2.5em;
  margin-bottom: 0.7em;
}

.additionalInfo {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.additionalInfo > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.additionalInfo > div:first-child,
.additionalInfo > div:nth-child(2) {
  margin-bottom: 1.7rem;
}

.additionalInfo span {
  font-size: 1.7rem;
}

form {
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-bottom: #64ccc5 2px solid;
  width: 60%;
}

.search input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #64ccc5;
}

.search input[type='text'] {
  width: 100%;
}

.search input[type='submit'] {
  background-image: url(magnify.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em;
  width: 1.3em;
  cursor: pointer;
  transition: transform 0.05s;
}

.search input[type='submit']:hover {
  transform: scale(1.1);
}

aside {
  background-color: #176b87;
  flex: 2 1 500px;
  scrollbar-gutter: stable both-edges;
  display: flex;
  justify-content: space-evenly;
  overflow-y: auto;
}

.day {
  background-color: #64ccc5;
}
