body {
  background-color: #053b50;
  height: 100vh;
  overflow: hidden;
}

main {
  background-color: aliceblue;
  height: 100%;
}

aside {
  background-color: #176b87;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(300px, 2fr) minmax(150px, 1fr);
}
